@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body{
    font-family: 'Poiret One', cursive;
    overflow: hidden;
    background: conic-gradient(from .5turn at center left, lime, cyan) ;
}